<div class="social-bar">
  <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
  <a href="https://twitter.com/" class="icon icon-twitter" target="_blank"></a>
  <a href="https://www.instagram.com/" class="icon icon-instagram" target="_blank"></a>
</div>
